body {
    margin: 0;
    font-family: 'berlin';
    /* -moz-osx-font-smoothing: grayscale; */
}

code {
    font-family: berlin, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
    font-family: 'berlin';
    src: local('berlin'), url('./fonts/berlin.ttf') format('truetype');
    /* Safari, Android, iOS */
}